{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
    <table id="table" class="table table-hover  table-light table-striped table-bordered">
        <thead class="thead-dark">
        <button type="button" class="bg-light text-dark btn-block "><h3>Список кабинет</h3></button>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Кабинет</th>
            <th scope="col">Название кабинета</th>
        </tr>
        </thead>
        <tbody>
        {% for Cabinet in Cabinetter %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'сabinet_koruu' id=Cabinet.id %}">{{ Cabinet.Name }}</a></td>
                <td>{{ Cabinet.Cabinet_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}