{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
    <table id="table" class="table table-hover  table-light table-striped table-bordered">
        <thead class="thead-dark">
        <button type="button" class="bg-light text-dark btn-block "><h3>Категория</h3></button>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Категория</th>
        </tr>
        </thead>
        <tbody>
        {% for category in Categoryler %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ category }}</td>
            </tr>


        {% endfor %}
        </tbody>
    </table>
{% endblock %}


