{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
    <table id="table" class="table table-hover  table-light table-striped table-bordered">
        <thead class="thead-dark">
        <button type="button" class="bg-light text-dark btn-block "><h3>Категория</h3></button>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Категория</th>
        </tr>
        </thead>
        <tbody>
        {% for Categories in Categoriesler %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <th><a href="{%url 'categories_koruu' id=Categories.id %}">{{Categories.Name}}</a></th>

            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
