{% extends 'wrapper.html' %}
{% block content %}


  <table  class="table  table-hover  table-light table-striped table-bordered">
            <button type="button" class="bg-light text-dark btn-block "><h3>Документы</h3></button>
            <thead class="thead-dark">
      <tr>
          <th scope="col">№</th>
        <th>Название документы</th>
        <th>Скачать</th>
      </tr>
    </thead>
    <tbody>
      {% for Documentel in Documenter %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
               <td>{{ Documentel.name }}</td>
          <td>
            <a href="{{ Documentel.document.url }}" class="btn btn-primary btn-sm">
              Скачать
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}