{% extends 'wrapper.html' %}
{% block content %}
        <table id="table" class="table  table-hover  table-light table-striped table-bordered">
            <button type="button" class="bg-light text-dark btn-block "><h3>Наличие техники ФИИТ</h3></button>
            <thead class="thead-dark">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Кабинет</th>
                <th scope="col">Тип кабинета</th>
                <th scope="col">Категории</th>
                <th scope="col">Ед.изм.</th>
                <th scope="col">КодТМУ</th>
                <th scope="col">Наименования</th>
                <th scope="col">Количество</th>
                <th scope="col">Состояние</th>

            </tr>
            </thead>
            <tbody>
            {% for NalichiTehniki in NalichiTehnikiler %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ NalichiTehniki.Kabinet }}</td>
                    <td>{{ NalichiTehniki.NamKabinet }}</td>
                    <td>{{ NalichiTehniki.category }}</td>
                    <td>{{ NalichiTehniki.Edizm }}</td>
                    <td>{{ NalichiTehniki.kodTMU }}</td>
                    <td>{{ NalichiTehniki.Naimenovanie }}</td>
                    <td>{{ NalichiTehniki.Kolich }}</td>
                    <td>{{ NalichiTehniki.sostoyanie }}</td>

                </tr>
            {% endfor %}

            </tbody>
        </table>


{% endblock %}